@model List<AppUser>
@{
    ViewData["Title"] = "UsersList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    int count = 0;
}
<div class="row">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-bordered" style="text-align: center; vertical-align: middle;">
                <thead>
                    <tr>
                        <th colspan="6" style="text-align: center; font-size: 23px">Üye Listesi</th>
                    </tr>
                    <tr>
                        <th style="width: 50px">#</th>
                        <th>Üye</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                       
                        @if (item.TrainerId == null)
                        {
                            count++;
                            <tr>
                                <td>@count</td>
                                <td style="display: none">@item.Id</td>
                                <td>@item.Name @item.Surname</td>
                                <td class="border px-4 py-2 text-center w-1/7">

                                    <a asp-area="Admin" asp-controller="Role" asp-action="RoleReplacement" asp-route-id="@item.Id" class="btn btn-warning btn-sm">
                                        Hesabı Askıya Al
                                    </a>

                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


