@model List<Training>
@{
    ViewData["Title"] = "ListTrainings";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="row">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-bordered" style="text-align: center; vertical-align: middle;">
                <thead>
                    <tr>
                        <th colspan="6" style="text-align: center; font-size: 25px">Kişisel Antreman Kayıtları</th>
                    </tr>
                    <tr>
                        <th style="display: none">Id</th>
                        <th>Üye</th>
                        <th>Antrenör</th>
                        <th>Branş</th>
                        <th>İstek Tarihi</th>
                        <th>Durum</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="display: none">@item.Id</td>
                            <td>@item.AppUser.Name @item.AppUser.Surname</td>
                            @foreach (var trainer in ViewBag.Trainers)
                            {
                                @if (item.TrainerId == trainer.TrainerId)
                                {
                                    <td>@trainer.Name @trainer.Surname</td>
                                }
                            }
                            <td>@item.Branch</td>
                            <td>@item.CreateDate.ToString("dd.MM.yyyy")</td>
                            @if (item.Status == true)
                            {
                                <td style="color: green;">Kabul Edildi</td>

                            }
                            else
                            {
                                <td style="color: red;">İptal Edildi</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

