@model List<Message>
@{
    ViewData["Title"] = "ListClass";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-bordered" style="text-align: center; vertical-align: middle;">
                <thead>
                    <tr>
                        <th colspan="3" style="text-align: left; font-size: 20px">Haftalık Ders Kaydı</th>
                    </tr>
                    <tr>
                        <th style="display: none">Id</th>
                        <th style="display: none">KullanıcıId</th>
                        <th>Ders</th>
                        <th style="display: none">DersId</th>
                        <th>Gün</th>
                        <th>Başlagıç Saati</th>
                        <th>Bitiş Saati</th>
                        <th>Ders Durumu</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="display: none">@item.Id</td>
                            <td style="display: none">@item.AppUser.Id</td>
                            <td>@item.Class.Name</td>
                            <td style="display: none">@item.Class.Id</td>
                            <td>@item.Class.Day</td>
                            <td>@item.Class.StartClass</td>
                            <td>@item.Class.FinishClass</td>
                            @if(item.Class.ClassesStatus == false)
                            {
                                <td style="color: green;">Aktif</td>

                            }
                            else
                            {
                                <td style="color: red;">İptal Edildi</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<br />
<br />
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">Dersler İçin Gerekli Eşyalar</h5>
        <p class="card-text">Spor yapmaya uygun kıyafetler ve uygun ayakkabılar.</p>
        <p class="card-text">Su, Egzersiz sırasında vücudun hidrasyonunu sağlamak için su içmek önemlidir.</p>
        <p class="card-text">Yer egzersizleri için veya teri silmek için bir havlu.</p>
    </div>
    <div class="card-body">
        <p class="card-text"><small class="text-body-secondary">Lütfen ders başlamadan kısa süre önce orada olmaya özen gösterin. </small></p>
    </div>
</div>

