@model List<Class>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/IULayout.cshtml";
}

<section class="breadcrumb-section set-bg" data-setbg="https://i.pinimg.com/originals/3b/cf/f9/3bcff9d7deb95989bb82827c07eb11c3.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Dersler</h2>
                    <div class="breadcrumb-option">
                        <a href="./index.html"><i class="fa fa-home"></i>Ana Sayfa</a>
                        <span>Dersler</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@* Kullanıcı, kayıt açan Trainer'a  derse katılım için istek iletecek. *@
<section class="register-section classes-page spad">
    <div class="container">
        <div class="classes-page-text">
            <div class="row">
                <div class="col-lg-8">
                    <div class="register-text">
                        <div class="section-title">
                            <h2>Ders Kaydı</h2>
                            <p>Katılmak İçin Eğitmene Mesaj At!</p>
                        </div>
                        <br />
                        @if (User.Identity.IsAuthenticated)
                        {

                            @inject Microsoft.AspNetCore.Identity.UserManager<AppUser> appUser

                            <form asp-controller="Classes" asp-action="RegisterClass" method="post" class="register-form">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <!-- İlk dropdown listesi -->
                                        <div class="form-group">
                                            <select name="ClassId" class="form-control">
                                                <option disabled selected>Lütfen Ders Seçiniz</option>
                                                @foreach (var item in ViewBag.Classes)
                                                {
                                                    <option value="@item.Id">@item.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <!-- İkinci dropdown listesi -->
                                        <div class="form-group">
                                            <select name="Day" class="form-control">
                                                <option disabled selected>Lütfen Gün Seçiniz</option>
                                                @foreach (var day in ViewBag.Days)
                                                {
                                                    <option value="@day.Id">@day.Day</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <br>
                                <br>
                                <input type="hidden" name="AppUserId" value="@appUser.GetUserId(User)">
                                <br>
                                <button type="submit" class="register-btn">Kaydol</button>
                            </form>

                        }
                        else
                        {
                            <div class="section-title">
                                <p>Ders kaydı için lütfen giriş yapınız.</p>
                            </div>
                        }

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="register-pic" style="text-align: right; margin-top: 10px; margin-right: 10px;">
                        <img src="~/Gym/img/trainer/classpt.jpg" alt="" style="max-width: 100%; height: auto;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="classes-section classes-page spad">
    <div class="container">
        <div class="section-title">
            <h2>DERSLER</h2>
        </div>
        <div class="row">

            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="single-class-item set-bg" data-setbg="/ClassImage/@item.Image">
                        <div class="si-text">
                            <h4>@item.Name</h4>
                            <span><i class="fa fa"></i>@item.Day | @(((DateTime)item.StartClass).ToString(" HH:mm"))-@(((DateTime)item.FinishClass).ToString("HH:mm"))</span>
                            <br>
                            <span><i class="fa fa-user"></i>@item.AppUser.Name @item.AppUser.Surname</span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
