@model Blog

@{
    ViewData["Title"] = "AddBlog";
    Layout = "~/Views/Shared/IULayout.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-10 offset-lg-1">
            <body>
                <form method="post" asp-controller="Blog" asp-action="AddBlog" enctype="multipart/form-data">
                    <section class="blog-details-hero set-bg" data-setbg="">
                        @Html.Label("Kapak Resmi Ekleyin")
                        <input type="file" asp-for="CoverImageUrl" class="form-control" />
                        <div class="container">
                            <br />
                            <br />
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="bd-hero-text">
                                        @Html.Label("Giriş Başlığı Ekleyin")
                                        <input type="text" asp-for="LoginTitle" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-10 offset-lg-1">
                                    <div class="bd-text">
                                        <div class="bd-title">
                                            <p>
                                                @Html.Label("Metin Ekleyin")
                                                <input type="text" asp-for="LoginDescription" class="form-control" />
                                            </p>
                                            <p>
                                                @Html.Label("Metin Ekleyin")
                                                <input type="text" asp-for="LoginDescriptionTwo" class="form-control" />
                                            </p>
                                        </div>
                                        <div class="bd-pic">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    @Html.Label(" Resmi Ekleyin")
                                                    <input type="file" asp-for="ImageUrl" class="form-control" />
                                                </div>
                                                <div class="col-lg-6">
                                                    @Html.Label(" Resmi Ekleyin")
                                                    <input type="file" asp-for="ImageUrlTwo" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="bd-more-text">
                                            <div class="bm-item">
                                                @Html.Label("Başlık  Ekleyin")
                                                <input type="text" asp-for="Title" class="form-control" />
                                                <p>
                                                    @Html.Label("Metin  Ekleyin")
                                                    <input type="text" asp-for="Description" class="form-control" />
                                                </p>
                                                <p>
                                                    @Html.Label("Metin  Ekleyin")
                                                    <input type="text" asp-for="DescriptionTwo" class="form-control" />
                                                </p>
                                            </div>
                                            <div class="bm-item">
                                                @Html.Label("Başlık  Ekleyin")
                                                <input type="text" asp-for="TitleTwo" class="form-control" />
                                                <p>
                                                    @Html.Label("Metin  Ekleyin")
                                                    <input type="text" asp-for="DescriptionThree" class="form-control" />
                                                </p>
                                            </div>
                                        </div>
                                        <input type="hidden" asp-for="AppUserId" value="@ViewBag.userId" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="container">
                            <div class="row justify-content-center">
                                <button class="btn btn-primary">Paylaş</button>
                            </div>
                        </div>
                    </section>
                </form>
                <br />
            </body>
        </div>
    </div>
</div>
