@model List<Training>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_TrainerLayout.cshtml";
}


<style>
    .form-control {
        width: 100%;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
</style>

<div class="flex flex-1 flex-col md:flex-row lg:flex-row mx-2 justify-center">
    <div class="mb-2 border-solid border-gray-300 rounded border shadow-sm w-full max-w-full overflow-x-auto">
        <div class="bg-gray-200 px-2 py-3 border-solid border-gray-200 border-b">
            <h2 style="width: fit-content;">Antreman İstek Sayfası</h2>
        </div>
        <div class="p-3">
            <table class="table-responsive w-full rounded">
                <thead>
                    <tr>
                        <th class="border px-4 py-2 text-center">Üye</th>
                        <th class="border px-4 py-2 text-center">Hakkında</th>
                        <th class="border px-4 py-2 text-center">Antrenör</th>
                        <th class="border px-4 py-2 text-center">Branş</th>
                        <th class="border px-4 py-2 text-center">Kullanıcı Bilgileri</th>
                        <th class="border px-4 py-2 text-center">Seçenekler</th>
                        <th class="border px-4 py-2 text-center">Durum</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        @if (item.AppUser.Status == false)
                        {
                            <tr>
                                <td class="border px-4 py-2  text-center w-1/5">@item.AppUser.Name @item.AppUser.Surname</td>
                                <td class="border px-4 py-2 text-center w-1/5">
                                    @if (!string.IsNullOrEmpty(item.Description))
                                    {
                                        @if (item.Description.Length > 10)
                                        {
                                            @(item.Description.Substring(0, 10) + "...")
                                        }
                                        else
                                        {
                                            @item.Description
                                        }
                                    }
                                </td>
                                <td class="border px-4 py-2 text-center w-1/5">
                                    @foreach (var trainer in ViewBag.Trainers)
                                    {
                                        @if (item.TrainerId == trainer.TrainerId)
                                        {
                                            <span>@trainer.Name @trainer.Surname</span>
                                        }
                                    }
                                <td class="border px-4 py-2  text-center w-1/5">@item.Branch</td>
                                <td class="border px-4 py-2 text-center w-1/7">
                                    <a asp-area="Trainer" asp-controller="Training" asp-action="GetUsers" asp-route-id="@item.AppUserId" class="bg-blue-500 hover:bg-blue-800 text-white font-bold py-2 px-4 border border-blue-800 rounded">
                                        Git
                                    </a>
                                </td>
                                <td class="border px-4 py-2 text-center w-1/5">
                                        @if (item.Status == false)
                                        {
                                        <a asp-area="Trainer" asp-controller="Training" asp-action="SelectTrainingStatus" asp-route-id="@item.Id" class="bg-green-500 hover:bg-green-800 text-white font-bold py-2 px-4 border border-green-800 rounded">
                                            Kabul Et
                                        </a>
                                        }
                                        else
                                        {
                                        <a class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 border border-green-800 rounded">
                                            Kabul Et
                                        </a>
                                        }
                                </td>
                                    @if (item.Status == true)
                                    {
                                    <td class="border px-4 py-2 text-center w-1/8" style="color: green;">Aktif</td>

                                    }
                                    else
                                    {
                                    <td class="border px-4 py-2 text-center w-1/8" style="color: red;">Pasif</td>
                                    }
                            </tr>
                        }
                        @if (item.AppUser.Status == true)
                        {
                            <tr style="border: 2px solid green;">
                                <td class="border px-4 py-2  text-center w-1/5">@item.AppUser.Name @item.AppUser.Surname</td>
                                <td class="border px-4 py-2 text-center w-1/5">
                                    @if (!string.IsNullOrEmpty(item.Description))
                                    {
                                        @if (item.Description.Length > 10)
                                        {
                                            @(item.Description.Substring(0, 10) + "...")
                                        }
                                        else
                                        {
                                            @item.Description
                                        }
                                    }
                                </td>
                                <td class="border px-4 py-2 text-center w-1/5">
                                    @foreach (var trainer in ViewBag.Trainers)
                                    {
                                        @if (item.TrainerId == trainer.TrainerId)
                                        {
                                            <span>@trainer.Name @trainer.Surname</span>
                                        }
                                    }
                                <td class="border px-4 py-2  text-center w-1/5">@item.Branch</td>
                                <td class="border px-4 py-2 text-center w-1/7">
                                    <a asp-area="Trainer" asp-controller="Training" asp-action="GetUsers" asp-route-id="@item.AppUserId" class="bg-blue-500 hover:bg-blue-800 text-white font-bold py-2 px-4 border border-blue-800 rounded">
                                        Git
                                    </a>
                                </td>
                                <td class="border px-4 py-2 text-center w-1/5">
                                        @if (item.Status == false)
                                        {
                                        <a asp-area="Trainer" asp-controller="Training" asp-action="SelectTrainingStatus" asp-route-id="@item.Id" class="bg-green-500 hover:bg-green-800 text-white font-bold py-2 px-4 border border-green-800 rounded">
                                            Kabul Et
                                        </a>
                                        }
                                        else
                                        {
                                        <a class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 border border-green-800 rounded">
                                            Kabul Et
                                        </a>
                                        }
                                </td>
                                    @if (item.Status == true)
                                    {
                                    <td class="border px-4 py-2 text-center w-1/8" style="color: green;">Aktif</td>

                                    }
                                    else
                                    {
                                    <td class="border px-4 py-2 text-center w-1/8" style="color: red;">Pasif</td>
                                    }
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

