@model Blog
@{
    ViewData["Title"] = "BlogDetails";
    Layout = "~/Views/Shared/IULayout.cshtml";
}

<body>
    <!-- Blog Details Hero Section Begin -->
    <section id="Blog" class="blog-details-hero set-bg" data-setbg="/BlogImages/@Model.CoverImage">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="bd-hero-text">
                        <h2><br />@Model.LoginTitle</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Hero Section End -->
    <!-- Blog Details Section Begin -->
    <section class="blog-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="bd-text">
                        <div class="bd-title">
                            <p>
                                @Model.LoginDescription
                            </p>
                            <p>
                                @Model.LoginDescriptionTwo
                            </p>
                        </div>
                        <div class="bd-pic">
                            <div class="row">
                                <div class="col-lg-6">
                                    <img src="/BlogImages/@Model.Image" alt="">
                                </div>
                                <div class="col-lg-6">
                                    <img src="/BlogImages/@Model.ImageTwo" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="bd-more-text">
                            <div class="bm-item">
                                <h4>@Model.Title</h4>
                                <p>
                                    @Model.Description
                                </p>
                                <p>
                                    @Model.DescriptionTwo
                                </p>
                            </div>
                            <div class="bm-item">
                                <h4>@Model.TitleTwo</h4>
                                <p>
                                    @Model.DescriptionThree
                                </p>
                            </div>
                        </div>
                        <div class="bd-quote">
                            <samp>"</samp>
                            <p>
                                “İnsanları zorluklarla karşılaşmaktan korkutan şey inanç eksikliği ve ben hep kendime inandım.”
                            </p>
                            <div class="quote-author">
                                <h5>-Muhammed Ali</h5>
                            </div>
                        </div>
                        <div class="bd-last-para">
                        </div>
                        <div class="tag-share">
                            <div class="tags">
                                <a href="#">Sağlık</a>
                                <a href="#">Photography</a>
                                <a href="#">Tips</a>
                            </div>
                            <div class="social-share">
                                <span>Paylaş:</span>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-youtube-play"></i></a>
                            </div>
                        </div>
                        <div class="blog-author">
                            <div class="row">
                                <div class="col-lg-9">
                                    <div class="ba-text">
                                        <h5>@Model.AppUser.Name @Model.AppUser.Surname</h5>
                                        <h5>@Model.AppUserId</h5>
                                        <p>
                                            @Model.AppUser.Description
                                        </p>
                                        <div class="bt-social">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-google-plus"></i></a>
                                            <a href="#"><i class="fa fa-instagram"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="blog-author">
                            <h3>Yorumlar</h3>
                            @foreach (var item in Model.Comments)
                            {
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="ba-pic">
                                            <img src="img/blog/blog-posted.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="ba-text">
                                            <h5>@item.AppUser.Name @item.AppUser.Surname</h5>
                                            <h5>@(((DateTime)item.CreateDate).ToString("dd-MMM-yyyy"))</h5>
                                            <p>@item.CommentContent</p>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                            }
                        </div>

                        <div class="leave-comment">

                            @if (User.Identity.IsAuthenticated)
                            {
                                @inject Microsoft.AspNetCore.Identity.UserManager<AppUser> appUser

                                <form method="post" asp-controller="Blogs" asp-action="AddComment">

                                    <input type="hidden" name="AppUserId" value="@appUser.GetUserId(User)">
                                    <input type="hidden" name="BlogId" value="@Model.Id">

                                    <div class="row">
                                        <div class="col-lg-12">
                                            <textarea name="CommentContent" placeholder="Yorumunuz..."></textarea>
                                            <button type="submit">Yorum Yap</button>
                                        </div>
                                    </div>
                                </form>
                            }
                            else
                            {
                                <h3>Lütfen Yorum Yapabilmek için kayıt olunuz...:)</h3>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @await Component.InvokeAsync("_LastBlogs")
</body>
