@model List<Training>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}


<div class="row">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-bordered" style="text-align: center; vertical-align: middle;">
                <thead>
                    <tr>
                        <th colspan="3" style="text-align: left; font-size: 20px">Kişisel Antreman Kaydı</th>
                    </tr>
                    <tr>
                        <th style="display: none">Id</th>
                        <th>Antrenör</th>
                        <th>Branş</th>
                        <th>İstek Tarihi</th>
                        <th>Durum</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="display: none">@item.Id</td>
                            @foreach (var trainer in ViewBag.Trainers)
                            {
                                @if (item.TrainerId == trainer.TrainerId)
                                {
                                    <td>@trainer.Name @trainer.Surname</td>
                                }
                            }
                            <td>@item.Branch</td>
                            <td>@item.CreateDate.ToString("dd.MM.yyyy")</td>
                            @if (item.Status == true)
                            {
                                <td style="color: green;">Kabul Edildi</td>

                            }
                            else
                            {
                                <td style="color: red;">İptal Edildi</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<br />
<br />
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">Antremanlar Hakkında</h5>
        <hr>
        <p class="text-success">Antreman kabul edildikten sonra mutlaka antrenör ile iletişime geçiniz.</p>
        <p class="text-danger">Antreman iptal edilmesi durumunda seçtiğiniz branşa ait başka bir antrenör sizinle ilgilenecektir.</p>
        <p class="text-body">Eğer herhangi bir sebepten dolayı antremana katılamayacaksanız, mümkün olan en kısa sürede antrenöre bilgi verin.</p>
        <p class="card-text"><strong><small class="text-body-secondary">Lütfen ders başlamadan kısa süre önce orada olmaya özen gösterin.</small></strong></p>
    </div>
</div>
