@model List<Comment>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}


<div class="mb-2 border-solid border-gray-300 rounded border shadow-sm w-full">
    <div class="bg-gray-200 px-2 py-3 border-solid border-gray-200 border-b">
        <h5 style="font-weight: bold; color: black">Blog Yorumları</h5>
    </div>
    <div class="p-3">
        <table class="table table-bordered">
            <thead style="text-align: center;">
                <tr>
                    <th style="display: none" >#</th>
                    <th>Kullanıcı</th>
                    <th>Yorum</th>
                    <th>Tarih</th>
                    <th>Blog</th>
                    <th>Düzenle</th>
                    <th>Sil</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="display: none">@item.AppUserId</td>
                        <td>@item.AppUser.Name @item.AppUser.Surname</td>
                        <td>@item.CommentContent</td>
                        <td>@(((DateTime)item.CreateDate).ToString("dd-MMM-yyyy"))</td>
                        <td><a href="/Blogs/BlogDetails/@item.Id" class="btn btn-primary">Gör</a></td>
                        <td><a href="/Member/Comment/EditComment/@item.CommentContent" class="btn btn-warning">Düzenle</a></td>
                        <td><a href="/Member/Comment/DeleteComment/@item.Id" class="btn btn-danger">Sil</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



